.HomeContent {
  border-radius: 18px;
  background: linear-gradient(180deg, #042f40 0%, rgba(0, 128, 178, 0.18) 100%);
}

.HomeImg1 {
  max-width: 250px;
  margin-top: 50px;
  margin-right: 80px;
}

.para1 {
  color: #fff;
  font-family: Poppins;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.para2 {
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.para3 {
  height: 103px;
  flex-shrink: 0;

  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.section2 {
  column-gap: 140px;
  margin-top: 40px;
  height: auto;
}

.sectioncolumn1 {
}

.para4 {
  color: #085371;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.para5 {
  flex-shrink: 0;

  color: #05517d;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.para6 {
  flex-shrink: 0;

  color: #064d6a;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.section3 {
  text-align: center;
  background: linear-gradient(180deg, rgba(0, 128, 178, 0.18) 0%, #042f40 100%);
  border-radius: 18px;
}

.SignUpNow {
  color: white;
  background-color: #042f40;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  width: 260px;
  height: 50px;
  font-weight: 400;
  padding: auto;
}

.ExploreRoutesButton {
  color: #042f40;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  width: 260px;
  height: 50px;
  padding: auto;
}

@media (min-width: 991px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .HomeContent {
    height: 280px;
  }
}

@media (max-width: 991px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .HomeContent {
    height: 480px;
  }

  .HomeTextContent1 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .HomeContent {
    height: 550px;
  }

  .HomeImg1 {
    padding-top: 40px;
  }

  .HomeTextContent1 {
    text-align: center;
  }
}

@media (max-width: 575px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .HomeContent {
    height: 520px;
    border-radius: 0px;
  }

  .section3 {
    border-radius: 0px;
  }

  .HomeImg1 {
    padding-top: 40px;
  }

  .HomeTextContent1 {
    text-align: center;
  }
}

@media (max-width: 508px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .HomeContent {
    height: 550px;
  }

  .HomeImg1 {
    padding-top: 40px;
  }

  .HomeTextContent1 {
    text-align: center;
  }
}
