body{
    background-color: white;
}
@media (max-width: 768px) {
    #heading {
      font-size: 2rem; /* Decrease font size for smaller screens */
    }
  
    #paragraph {
      font-size: 1rem; /* Decrease font size for smaller screens */
    }
  }
p{
    font-family: "poppind-semibold", sans-serif;
}  