@import '../../vars.css';

.SchBusInfoSec{
    background-color: var(--color-primary) !important;
    margin-left: 200px;
    margin-right: 200px;
}

.title1{
    color: var(--color-text-white);
    text-align: center;
}

.para{
    color: var(--color-text-white);

}

.detailSec{
    padding-left: 85px;
}

