@import '../../vars.css';


.InfoSec2{
    background-color: rgba(4,47,64) !important;
}

.p2{
    color: var(--color-text-white);
    text-align: center;
}

.toggleButton.active {
    background-color: #00757c !important;
    color: white !important;
  }
  
  .toggleButton:not(.active) {
    background-color: #d9d9d9 !important;
    color: #333 !important;
  } 

  .bg-light2{
    background-color: #f1f1f1 !important;
  }

  .BackIcon{
    width: 57px;
  }

  .containerLocPage{
    background-image: url("../../assets/TrainBack1.jpg");
    background-size: cover;
    padding-left: 80px !important;
    padding-right: 0px !important;
  }


@media only screen and (max-width: 600px) {
    .containerLocPage {
      padding-left: 10px !important;
      padding-right: 0px !important;
    }
  }
  

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .containerLocPage {
        padding-left: 40px !important;
        padding-right: 0px !important;
    }
  }