@import '../../vars.css';

.InfoSec{
    background-color: var(--color-primary) !important;
}

.p2{
    color: var(--color-text-white);
    text-align: center;
}

.toggleButton.active {
    background-color: #00757c !important;
    color: white !important;
  }
  
  .toggleButton:not(.active) {
    background-color: #d9d9d9 !important;
    color: #333 !important;
  } 

  .bg-light2{
    background-color: #f1f1f1 !important;
  }

  .BackIcon{
    width: 57px;
  }

  .containerCarrPage{
    background-image: url("../../assets/TrainBack1.jpg");
    background-size: cover;
  }