.DetailsCard {
  background-color: #f1f1f1;
}

.VehicleImg {
  width: 135px;
  height: 100px;
  flex-shrink: 0;
}

.DetailsCard {
  font-size: 0.7rem;
}

.btn {
  background-color: #00757c;
  color: white;
}

.btn:hover {
  background-color: #d17b0a;
  cursor: pointer;
}
