.TotalBlock {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 10.9px 1px rgba(0, 0, 0, 0.16);
  /* top: 280px;
  left: 110px; */
}

.row {
  height: 80px;
  padding-top: 15px;
  padding-left: auto;
}
@media (min-width: 991px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .row {
    padding-left: 50px;
    column-gap: 30px;
  }
}

@media (max-width: 991px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .row {
    height: 140px;
    /* top: 250px; */
  }
}

@media (max-width: 767px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .row {
    height: 220px;
  }
}

@media (max-width: 575px) {
  /* Adjust the min-width value based on when you want to show the placeholder */
  .row {
    height: 360px;
  }
}
