.form-select{
  
    width: 162.19px;
    height: 52.32px;
    display: flex;
    padding: 20px 0.084px 2.321px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 50px;
    
    
}