#mycontent1{

    display: flex;
    justify-content: center;
}
.passenger-form-body{
    background-image: url("../../assets/form_background.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
#passenger-form{
    /* background-color: #FFF; */
    filter: drop-shadow(6px 4px 8.1px rgba(0, 0, 0, 0.25));
    box-shadow: 6px 4px 8.1px rgba(0, 0, 0, 0.25);


    /* margin-left: 25%;
    margin-right: 25%; */
}
.row1{
    justify-content: center;
}
