@import '../../vars.css';

.container-fluid{
    padding-left: 72px !important;
    padding-right: 72px !important;
}

@media only screen and (max-width: 600px) {
    .container-fluid {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  
  /* Responsive padding for screens between 601px and 1200px */
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .container-fluid {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
  }

  .btn.secButton.active {
    background-color: #00757c !important; 
    color: white !important;
    border: 0px !important;
  }

  .btn.secButton {
    background-color: #d9d9d9 !important; 
    color: #00757c !important; 
    border: 0px !important;
  }

